# ┌───────────────────────────────────────────────────────────────────┐
# │                                                                   │
# │                          IMPORTANT NOTE                           │
# │                                                                   │
# │   This file is synced with https://github.com/atomicgo/template   │
# │                                                                   │
# │        Please apply all changes to the template repository        │
# │                                                                   │
# └───────────────────────────────────────────────────────────────────┘

# Build artifacts and binaries
*.exe
*.exe~
*.so
*.test

# Coverage
*.out

# Dependencies
vendor/

# Editors and IDEs
*.code-workspace
*.iml
.cursor
.idea
.vscode
gen
out

# Operating system files
.DS_Store

# Project-specific files
.task
experimenting
